{%extends '@CPCocoloc/Annonce/base.html.twig'%}

{%block title%}
	{{'Mon compte'|trans}} 
{%endblock%}

  	{%block body%}

  	<div class="list-group">
  <a href="{{path('fos_user_profile_show')}}" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{'Mes informations'|trans}}</h5>
    </div>
    <p class="mb-1"> {{'Retrouver ici vos informations personnelles'|trans}} </p>
  </a>
  <a href="{{path('fos_user_profile_edit') }}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{'Modifier mes informations'|trans}}</h5>
    </div>
    <p class="mb-1">{{'Modifier vos informations personnelles'|trans}}</p>
  </a>
  <a href="{{path('myAnnonce')}}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{'Mes annonces'|trans}}</h5>
    </div>
    <p class="mb-1">{{'Retrouver ici vos annonces'|trans}}</p>
  </a>
</div>

    {%endblock%}
    
    {%block footer%}

    {%endblock%}